/* SM */
@media all and (min-width: 576) {
    .card_wrapper {
    margin: 0 15px;  
    }
}

/* MD */
@media all and (min-width: 768px) {
    .card_wrapper {
        width: 80%;
        margin: 0 25px;
    }

    .jumbo_thumb_wrapper {
        max-width: 165px;
        margin: 0 25px;
    }
}

/* LG */
@media all and (min-width: 992px) {
    .card_wrapper {
        width: 33.33%;
    }
}