/* SM */
@media all and (min-width: 576) {
    #jumbo .card_wrapper {
    margin: 0 15px;  
    }
}

/* MD */
@media all and (min-width: 768px) {
    #jumbo .card_wrapper {
        width: 80%;
        margin: 0 25px;
    }

    #jumbo .jumbo_thumb_wrapper {
        max-width: 165px;
        margin: 0 25px;
    }
}

/* LG */
@media all and (min-width: 992px) {
#jumbo .card_wrapper {
        width: 33.33%;
    }

    #ps4 .card_wrapper {
        color: black;
        width: 50%;  
    }
}